# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Docker
mongo-data/
docker-data/
*.pid

# Build outputs
frontend/.next
frontend/out
backend/dist

# System
.DS_Store
Thumbs.db
